body{

background-color: #f78a7e;

}
.envelope_button
{

   background: none;
   border: none;
   position: relative;
   size: 200px;

   top: 10px;
   left: 350px;

   opacity: 0;
   animation: fadeIn 2s ease forwards
   
}
#envelope{

width: 600px;

}

@keyframes fadeIn {
            from {
                opacity: 0;
            }
            to {
                opacity: 1;
            }
        }

        .top{
            color: #d9071f;
            font-family: "Mea Culpa", cursive;
            font-size: 50px;
            position: relative;

            top: -20px;
            left: 250px;

        
            animation: fadeIn 2s ease forwards; 
        }
        .box{
           border: 100px solid;
           color:#f7c8ce;
           width:310px;
           height: 100px;
           border-radius: 10px;
           background-color: #f7c8ce;

            position: relative;

            top: -100px;
            left: 400px;

        }

        .flowers{

            position: absolute;

            top: 300px;
            left: 800px;
         animation: fadeIn 5s ease forwards; 
            
        }
        .back{

background-color: #d9071f;
color: white;
border-radius: 5px;
border-color:#d9071f;
position: absolute;

            top: 500px;
            left: 420px;

        }

        .to{

color:black;
position: absolute;

            top: 190px;
            left: 430px;

        }
        .flower{

background: none;
   border: none;
   position: relative;
   size: 200px;

   top: 10px;
   left: 350px;

        }
        .body1{
position: relative;
top: -330px;
   left: 450px;
        }
        .body2{

position: relative;
top: -350px;
   left: 450px;

        }
        .body20{

            position: relative;
        top: -370px;
        left: 450px;

        }
.body3{

position: relative;
        top: -370px;
        left: 450px;

}
.body30{

    position: relative;
        top: -390px;
        left: 450px;
}
.yes{

    background-color: #4AE952;
color: white;
border-radius: 5px;
border-color:#4ae952;
position: absolute;

            top: 360px;
            left: 710px;

            animation: fadeIn 30s ease;
            animation: bouncy 1s;
            animation-iteration-count: infinite;

}
.no{
     background-color: #d9071f;
color: white;
border-radius: 5px;
border-color:#d9071f;
position: absolute;


            top: 360px;
            left: 755px;
            animation: fadeIn 30s ease;
            animation: bouncy 1s;
            animation-iteration-count: infinite;
}
.box2{
           border: 100px solid;
           color:#f7c8ce;
           width:400px;
           height: 300px;
           border-radius: 10px;
           background-color: #f7c8ce;
           

            position: relative;

            top: 90px;
            left: 370px;
            
}
@keyframes bouncy{
    from{top: 58.5%;}
    to{top: 58%;}
}
.cat{
    width: 200px;
    position:absolute;
    top:150px;
    left: 590px;
    animation: bouncecat 1s infinite ease-in;
}
@keyframes bouncecat {
    from{top: 19%;}
    to{top: 20%;}
    
}
.thanks{
    font-size: 40px;
    position:absolute;
    top: 50%;
    left: 29%;
    animation: thanksbounce 1s infinite ease-in-out;
}
@keyframes thanksbounce {
    from{top: 49%;}
    to{top: 50%;}
}
.lovee{
    font-size: 20px;
    position:absolute;
    top: 60%;
    left: 30%;
    animation: loveebounce 1s infinite ease-in-out;
}
@keyframes loveebounce {
    from{top: 59%;}
    to{top: 60%;}
}
.yo{
position:absolute;
    top: 70%;
    left: 60%;
    width: 300px;
    animation: fadeIn 1s ease-in-out;

}
.noo{
    position:absolute;
    left:50%;
    top: 57%;
}