body{

background-color: #f78a7e;

}
.envelope_button
{

   background: none;
   border: none;
   position: relative;
   size: 200px;

   top: 10px;
   left: 350px;

   opacity: 0;
   animation: fadeIn 2s ease forwards
   
}
#envelope{

width: 600px;

}

@keyframes fadeIn {
            from {
                opacity: 0;
            }
            to {
                opacity: 1;
            }
        }

        .top{
            color: #d9071f;
            font-family: "Mea Culpa", cursive;
            font-size: 50px;
            position: relative;

            top: -20px;
            left: 250px;

        
            animation: fadeIn 2s ease forwards; 
        }
        .box{
           border: 100px solid;
           color:#f7c8ce;
           width:310px;
           height: 100px;
           border-radius: 10px;
           background-color: #f7c8ce;

            position: relative;

            top: -100px;
            left: 400px;

        }

        .flowers{

            position: relative;

            top: -300px;
            left: 750px;
         animation: fadeIn 5s ease forwards; 
            
        }
        .back{

background-color: #d9071f;
color: white;
border-radius: 5px;
border-color:#d9071f;
position: relative;

            top: -400px;
            left: 50px;

        }

        .to{

color:black;
position: relative;

            top: -770px;
            left: 430px;

        }
        .flower{

background: none;
   border: none;
   position: relative;
   size: 200px;

   top: 10px;
   left: 350px;

        }
        .body1{
position: relative;
top: -790px;
   left: 450px;
        }
        .body2{

position: relative;
top: -810px;
   left: 450px;

        }
        .body20{

            position: relative;
        top: -830px;
        left: 450px;

        }
.body3{

position: relative;
        top: -850px;
        left: 450px;

}
.body30{

    position: relative;
        top: -870px;
        left: 450px;
}
@keyframes bounceforyes {
    from{top:-909px;}
    to{top: -910px;}
    
}
.yes{

    background-color: #4AE952;
color: white;
border-radius: 5px;
border-color:#4ae952;
position: relative;

            top: -910px;
            left: 710px;
            animation: bounceforyes 1s infinite;

}

.no{
     background-color: #d9071f;
color: white;
border-radius: 5px;
border-color:#d9071f;
position: relative;


            top: -910px;
            left: 710px;
            animation: bounceforyes 1s infinite;
}
.box2{
           border: 100px solid;
           color:#f7c8ce;
           width:400px;
           height: 300px;
           border-radius: 10px;
           background-color: #f7c8ce;
           

            position: relative;

            top: 90px;
            left: 370px;
            
}

.cat{
    width: 200px;
    position:relative;
  top: -360px;
    left: 580px;
}
.thanks{
    font-size: 40px;
    position:relative;
  top: -380px;
    left: 400px;
}
.lovee{
    font-size: 20px;
    position:relative;
  top: -390px;
    left: 400px;
}

.yo{
position:relative;
    top: -390px;
    left: 800px;
    width: 300px;
    animation: fadeIn 1s ease-in-out;

}
.noo{
    position:relative;
    left:700px;
    top: -930px;
}